<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <h1>Welcome to my Website</h1>
        <p>THis website will first show our fun facts</p>
    </div>

    <div class="button-container">
        <a href="{{ url_for('us') }}">
            <button type="button">US</button>
        </a>
    </div>
</body>
</html>