<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">

    <title>Document</title>
</head>
<body>
    <h1>US PAGE</h1>

    <div class="us">
        <h1>Talk about yourself</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio necessitatibus dolores 
            eius sapiente, voluptas veniam voluptatem eveniet 
            saepe nisi possimus ratione enim provident maiores dolorum? Ea nemo in dolorem fugit.</p>
    </div>

    <div class="learned">
        What have you learned about web design?
    </div>

    <div class="want">
        What is something you want to design?
    </div>
    <div>
        <a href="{{ url_for('index') }}">
            <button type="button">home</button>
        </a>
    </div>
</body>
</html>